@import "tailwindcss";

@theme {
  --color-primario: #8dff4b;
  --color-secundario: #25159a;
  --color-acento: #26e731;
  --color-fondo: #282b39;
  --color-texto: #d0cfd8;
  --color-texto-dim: #a19fb1;
}